[MASTER]
disable=
    C0114, #  Module docstring
    C0115, #  Class docstring
    C0116, #  Method docstring
    R0903, #  Too few public methods
    C0103, #  Pylint doesn't like id attribute
    R0901, # Too many entities in file
    E1101, #  Dynamic attributes
    R0801, #  Too few public methods
    E0307, #  __str__ does not return str (invalid-str-returned)
    

ignore-paths=.*/migrations, backend/manage.py